scripts/


# venv folder 
venv/
.venv/
env/

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# python cache file 
__pycache__/
*.py[cod]

Exploration/Ex3/Images/
Exploration/Ex3/images.tar/


# 데이터셋 제외
Exploration/Ex2/data/

# 학습된 모델 가중치 제외
*.pth
*.h5

# 시스템 파일 제외
.DS_Store
__pycache__/

Exploration/Ex2/class-based/

Exploration/Ex3/Images/

Exploration/Ex3/images.tar/

# Large Data Files
Images/
images.tar
*.tar
*.zip

/Exploration/Ex3/Images/
/Exploration/Ex3/images.tar

# 2. 또는, 어느 폴더에 있든 해당 이름을 가진 폴더/파일을 다 무시하고 싶을 때 (가장 추천)
**/Images/
**/images.tar
**/.DS_Store