# venv folder 
venv/
.venv/
env/

# Jupyter Notebook checkpoint
.ipynb_checkpoints/

# python cache file 
__pycache__/
*.py[cod]
*.pkl*.pkl

# model weights
*.pth
*.h5

# system file
.DS_Store
__pycache__/

# Large Data Files
*.tar
*.zip
**/Images/
**/images.tar
**/.DS_Store*.log
*.log
*.vocab

scripts/
